* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #fff0de;
  /* width: 90%; */
  margin: 0 auto;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

/* Header */

.header__nav {
  display: flex;
  /* border: 1px solid black; */
  justify-content: space-between;
  background-color: whitesmoke;

  /* background-color: #ac2930; */
  /* overflow: hidden; */
  /* position: fixed;
  top: 0;
  width: 80%; */
}

.header__logo {
  width: 30%;
  padding: 0.5rem;
  /* border: 1px solid black; */
  position: relative;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-left: 100px;
}

.header__logo p {
  font-size: 40px;
}

.header__logo h1 {
  /* color: white; */
  color: black;
  font-size: 35px;
}

.header__logo-overlay {
  /* background-color: #ac2930; */
  width: 100%;
  position: absolute;
  z-index: -1;
  inset: 0;
}

.header__menu li {
  list-style-type: none;
  font-weight: bold;
}

.header__menu li,
a {
  text-decoration: none;
  color: black;
}

.header__menu {
  /* border: 2px solid black; */
  display: flex;
  gap: 3rem;
  align-items: center;
  padding: 0.5rem;
  /* flex: 1.22; */
  width: 60%;
  justify-content: flex-end;
  padding-right: 100px;
}

/* Hero */
.hero {
  display: flex;
  max-height: 65vh;
  justify-content: space-between;
}

.hero-image {
  /* flex: 1; */
  width: 30%;
  /* height:  */
  position: relative;
  padding-bottom: 20px;
  padding-left: 50px;
}

.hero-image img {
  width: 150%;
  height: 100%;
  object-fit: contain;
}

.hero-image__overlay {
  position: absolute;
  z-index: -1;
  width: 100%;
  /* background-color: #b1454a; */
  background-color: #ac2930;
  inset: 0;
}

.hero-content {
  /* flex: 1.2; */
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5rem;
}

.hero-content__info {
  /* padding: 20px; */
  width: 90%;
}

.hero-content__info h1 {
  font-size: 5vw;
  margin-bottom: 30px;
  /* line-height: 100px; */
  /* padding: 32px 32px 32px 0; */
}

.hero-content__info h4 {
  font-size: 1.6vw;
  margin-bottom: 10px;
}

.hero-content__info p {
  font-size: 1.2vw;
  /* line-height: 20px; */
  /* font-weight: 400; */
}

.hero-content__order-btn {
  background-color: black;
  color: white;
  border-radius: 30px;
  padding: 20px;
  min-width: 212px;
  border: none;
  margin-right: 20px;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
}

.hero-content__populars-btn {
  background-color: orange;
  color: white;
  border-radius: 30px;
  padding: 20px;
  min-width: 212px;
  border: none;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
}

/* About Us */
.about-us {
  height: 80vh;
}
.about-us__image {
  width: 60%;
  height: 60%;
  float: right;
}

.about-us__image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.about-us__content {
  width: 40%;
}
