* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #fff0de;
  margin: 0 auto;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

/* ================================= */
/* Header */

.container {
  
  position: sticky;
  top:0;
}
.header__nav {
  display: flex;
  justify-content: space-between;
  background-color: white;
  /* border-bottom: 0.5px solid black; */
  box-shadow: 0 4px 2px -2px rgba(0,0,0,.2);
 
  
}

.header__logo {
  width: 30%;
  padding: 0.5rem;
  position: relative;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-left: 100px;
}

.header__logo p {
  font-size: 40px;
}

.header__logo h1 {
  color:black;
  font-size: 35px;
}

.header__menu li {
  list-style-type: none;
  font-weight: bold;
}

.header__menu li,
a {
  text-decoration: none;
  color: black
}


.header__menu {
  display: flex;
  gap: 3rem;
  align-items: center;
  padding: 0.5rem;
  width: 60%;
  justify-content: flex-end;
  padding-right: 100px;
}

.logo{
  background-color: #ac2930;
  border-radius: 100%;
  padding: 5px 12px;
}


/* ============================================= */
/* Hero */
.hero {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto 3rem auto;
}

.hero-image {
  width: 40%;
  height: 80vh;
}

.hero-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-content {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 3rem;
  text-align: center;
  gap: 3rem;
  /* border-bottom: 0.1px solid gray; */
  /* border-right: 0.1px solid gray; */
}

.hero-content__info {
  width: 90%;
  margin: 0 auto;
}

.hero-content__info h1 {
  font-size: 5vw;
  margin-bottom: 30px;
}

.hero-content__info h4 {
  font-size: 1.6vw;
  margin-bottom: 10px;
}

.hero-content__info p {
  font-size: 1.2vw;
}

.hero-content__menu-btn {
  background-color: orange;
  
  border-radius: 30px;
  padding: 20px;
  min-width: 212px;
  border: none;
  margin-right: 20px;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
}

.hero-content__menu-btn-link{
  color: white;
}

/* =============================== */
/* About Us */

.about-us {
  padding: 5rem 0;
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 40% 40%;
  column-gap: 40px;
  justify-content: center;
  /* align-items: center; */
  background-color: #ac2930;
  color: #fff0de;
  /* color: white; */
}

.about-us__content h1{
  font-size: 3vw;
  /* color: black; */
  /* color: #fff0de; */
  /* margin-bottom: 10px; */

}

.subtitle{
  color:black;
  font-size: 2vw;
  font-weight: 800;
  margin-bottom: 10px;
}
.specialty__subtitle{
  color: #ac2930;
  text-align: center;
  font-size: 2.5vw;
  font-weight: 900;
  margin-bottom: 10px;
}

#about-us {
  scroll-margin-block-start: 150px;
}


/* ================ Specialty ====================*/
.specialty{
  margin: 3rem 0;
}

.specialty__container{
  padding-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.specialty__card {
  background-color:hsl(19, 100%, 97%);
  padding-bottom: 1rem;
  box-shadow: rgba(0, 0, 0, 0.30) 0px 3px 6px;
  border-radius: 1rem;
  text-align: center;
  width: 85%;
  height: 65vh;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* border: 5px solid green; */
}

.specialty__title{
  font-size: 3vw;
  text-align: center;
}

.specialty__subtitle {
  text-align: center;
  font-size: 2vw;
  font-weight: 500;
}

.specialty__image {
  height: 75%;
  /* border: 5px solid green; */
}

.specialty__image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

/* ============= Newsletter ============= */
.newsletter {
  min-height: 50vh;
  width:90%;
  background-color: #ac2930;
  /* background-image:  
  linear-gradient(
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.1)
  ),url(newsletter3.jpg); */
  background-position: bottom;
  margin: 0 auto ;
  background-size: cover;
  /* opacity: 0.8; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.newsletter h2{
  color: #fff0de;
  font-size: 4vw;
  text-align: center;
  
}

.newsletter p{
  color: #fff0de;
  /* color: black; */
  font-weight: bold;
}

.newsletter__form {
  min-width: 480px;
  margin-top: 20px;

  padding: 14px 14px 14px 24px;

  display: flex;
  gap: 10px;

  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 46px;
}

.newsletter__form input {
  flex: 1;

  font-size:  16px;
  font-weight: 400px;
  font-family: var(--plus-jakarta-sans);

  color: #fff;
  opacity: 0.5;

  background: transparent;
  border: none;
  outline: none;
}

.newsletter__form input::placeholder {
  color: #fff;
  opacity: 0.5;
}

.newsletter__form button {
  padding: 20px;

  min-width: 180px;

  font-size: 16px;
  font-weight: 500;
  color: #fff;
  text-align: center;

  background: orange;
  border-radius: 46px;
  border: none;
  outline: none;

  cursor: pointer;
}

/* ============= Footer =============== */
.footer {
  background-color: black;
  margin-top: 3rem ;
  padding: 50px 120px;
  color: white;
  display: flex;
  justify-content: space-between;
}

.address__title, .hours__title, .social__title{
  margin-bottom: 8px;
}

.social__icons {
  display: flex;
  margin-top: 10px;
  justify-content: space-evenly;
  font-size: 25px;
  cursor: pointer;
}


/*  */
@media screen and (min-width: 1024px){
  .specialty__container{
    gap: 3rem;
  }
  .specialty__card {
    width: 20%;
    height: 50vh;
    gap: 0.5rem
  }
}


